.ibg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    img{display: none;}
}

//<СТРІЛКА>
// &::after{
//     content: '';
//     width: 0;
//     height: 0;
//     border-left: 10px solid transparent;
//     border-right: 10px solid transparent;
//     border-top: 10px solid red;
// }